/*
 * Vela UI — 组件 chip
 * Vela UI local styles.
 * 用于 Vela UI 组件样式。
 */

.chip {
  align-items: center;
  gap: calc(var(--spacing) * .5);
  border-radius: calc(var(--radius) * 2);
  padding-inline: calc(var(--spacing) * 2);
  padding-block: calc(var(--spacing) * .5);
  font-size: var(--text-xs);
  line-height: var(--tw-leading,var(--text-xs--line-height));
  --tw-leading: calc(var(--spacing) * 5);
  line-height: calc(var(--spacing) * 5);
  --tw-font-weight: var(--font-weight-medium);
  font-weight: var(--font-weight-medium);
  --chip-bg: var(--default);
  --chip-fg: currentColor;
  background-color: var(--chip-bg);
  color: var(--chip-fg);
  flex-shrink: 0;
  display: inline-flex;
}

.chip__label {
  padding-inline: calc(var(--spacing) * .5);
}

.chip--accent {
  --chip-fg: var(--accent-soft-foreground);
}

.chip--danger {
  --chip-fg: var(--danger-soft-foreground);
}

.chip--default {
  --chip-fg: var(--default-foreground);
}

.chip--success {
  --chip-fg: var(--success-soft-foreground);
}

.chip--warning {
  --chip-fg: var(--warning-soft-foreground);
}

.chip--tertiary {
  --chip-bg: transparent;
}

.chip--sm {
  padding-inline: calc(var(--spacing) * 1);
  padding-block: calc(var(--spacing) * 0);
  font-size: var(--text-xs);
  line-height: var(--tw-leading,var(--text-xs--line-height));
}

.chip--md {
  font-size: var(--text-xs);
  line-height: var(--tw-leading,var(--text-xs--line-height));
}

.chip--lg {
  padding-inline: calc(var(--spacing) * 3);
  padding-block: calc(var(--spacing) * 1);
  font-size: var(--text-sm);
  line-height: var(--tw-leading,var(--text-sm--line-height));
  --tw-font-weight: var(--font-weight-medium);
  font-weight: var(--font-weight-medium);
}

.chip--primary.chip--accent {
  --chip-bg: var(--accent);
  --chip-fg: var(--accent-foreground);
}

.chip--primary.chip--success {
  --chip-bg: var(--success);
  --chip-fg: var(--success-foreground);
}

.chip--primary.chip--warning {
  --chip-bg: var(--warning);
  --chip-fg: var(--warning-foreground);
}

.chip--primary.chip--danger {
  --chip-bg: var(--danger);
  --chip-fg: var(--danger-foreground);
}

.chip--accent.chip--soft {
  --chip-bg: var(--accent-soft);
  --chip-fg: var(--accent-soft-foreground);
}

.chip--success.chip--soft {
  --chip-bg: var(--success-soft);
  --chip-fg: var(--success-soft-foreground);
}

.chip--warning.chip--soft {
  --chip-bg: var(--warning-soft);
  --chip-fg: var(--warning-soft-foreground);
}

.chip--danger.chip--soft {
  --chip-bg: var(--danger-soft);
  --chip-fg: var(--danger-soft-foreground);
}

.chip--default.chip--soft {
  --chip-bg: var(--default-soft);
  --chip-fg: var(--default-soft-foreground);
}
