/*
 * Vela UI — 组件 color-field
 * Vela UI local styles.
 * 用于 Vela UI 组件样式。
 */

.color-field {
  gap: calc(var(--spacing) * 1);
  flex-direction: column;
  display: flex;
}

:is(.color-field[data-invalid=true],.color-field[aria-invalid=true]) [data-slot=description] {
  display: none;
}

.color-field [data-slot=label] {
  width: fit-content;
}

.color-field--full-width {
  width: 100%;
}
