/*
 * HeroUI Pro — 组件 color-swatch
 * 来源: https://heroui.pro/docs（CSS bundle 提取，2026-06-12）
 * 仅作设计参考，非项目代码。
 */

.color-swatch {
  box-sizing: border-box;
  width: calc(var(--spacing) * 8);
  height: calc(var(--spacing) * 8);
  background: linear-gradient(var(--color-swatch-current), var(--color-swatch-current)), repeating-conic-gradient(#efefef 0% 25%, #f7f7f7 0% 50%) 50% / 16px 16px;
  flex-shrink: 0;
  position: relative;
  box-shadow: inset 0 0 0 1px #0000001a;
}

.color-swatch--circle {
  border-radius: calc(var(--radius) * 2);
}

.color-swatch--square {
  border-radius: calc(var(--radius) * .75);
}

.color-swatch--xs {
  width: calc(var(--spacing) * 4);
  height: calc(var(--spacing) * 4);
}

.color-swatch--xs.color-swatch--circle {
  border-radius: calc(var(--radius) * 1);
}

.color-swatch--sm {
  width: calc(var(--spacing) * 6);
  height: calc(var(--spacing) * 6);
}

.color-swatch--sm.color-swatch--circle {
  border-radius: calc(var(--radius) * 1.5);
}

.color-swatch--lg {
  width: calc(var(--spacing) * 9);
  height: calc(var(--spacing) * 9);
}

.color-swatch--lg.color-swatch--circle {
  border-radius: calc(var(--radius) * 3);
}

.color-swatch--xl {
  width: calc(var(--spacing) * 10);
  height: calc(var(--spacing) * 10);
}

.color-swatch--xl.color-swatch--circle {
  border-radius: calc(var(--radius) * 3);
}
