/*
 * Vela UI — 组件 date-field
 * Vela UI local styles.
 * 用于 Vela UI 组件样式。
 */

.date-field {
  gap: calc(var(--spacing) * 1);
  flex-direction: column;
  display: flex;
}

:is(.date-field[data-invalid=true],.date-field[aria-invalid=true]) [data-slot=description] {
  display: none;
}

.date-field [data-slot=label] {
  width: fit-content;
}

.date-field--full-width {
  width: 100%;
}
