/*
 * Vela UI — 组件 description
 * Vela UI local styles.
 * 用于 Vela UI 组件样式。
 */

.description {
  font-size: var(--text-xs);
  line-height: var(--tw-leading,var(--text-xs--line-height));
  text-wrap: wrap;
  overflow-wrap: break-word;
  color: var(--muted);
}
