/*
 * Vela UI — 组件 dropdown
 * Vela UI local styles.
 * 用于 Vela UI 组件样式。
 */

.dropdown {
  gap: calc(var(--spacing) * 1);
  flex-direction: column;
  display: flex;
}

.dropdown__trigger {
  --tw-outline-style: none;
  transition: transform .25s var(--ease-out-quart), background-color .15s var(--ease-smooth), box-shadow .15s var(--ease-out);
  transform: translateZ(0) var(--tw-rotate-x,) var(--tw-rotate-y,) var(--tw-rotate-z,) var(--tw-skew-x,) var(--tw-skew-y,);
  outline-style: none;
  display: inline-block;
}

.dropdown__trigger:is([data-reduce-motion=true],[data-reduce-motion=true] *),
.dropdown__trigger:is([data-reduce-motion=true],[data-reduce-motion=true] *):before,
.dropdown__trigger:is([data-reduce-motion=true],[data-reduce-motion=true] *):after {
  transition-property: none;
}

@media (prefers-reduced-motion:reduce) {
  .dropdown__trigger:not(:is([data-reduce-motion=true],[data-reduce-motion=true] *)),
  .dropdown__trigger:not(:is([data-reduce-motion=true],[data-reduce-motion=true] *)):before,
  .dropdown__trigger:not(:is([data-reduce-motion=true],[data-reduce-motion=true] *)):after {
    transition-property: none;
  }
}

.dropdown__trigger {
  cursor: var(--cursor-interactive);
}

.dropdown__trigger:focus-visible:not(:focus),
.dropdown__trigger[data-focus-visible=true] {
  --tw-ring-shadow: var(--tw-ring-inset,) 0 0 0 calc(2px + var(--tw-ring-offset-width)) var(--tw-ring-color,currentcolor);
  box-shadow: var(--tw-inset-shadow), var(--tw-inset-ring-shadow), var(--tw-ring-offset-shadow), var(--tw-ring-shadow), var(--tw-shadow);
  --tw-ring-color: var(--focus);
  --tw-ring-offset-width: var(--ring-offset-width);
  --tw-ring-offset-shadow: var(--tw-ring-inset,) 0 0 0 var(--tw-ring-offset-width) var(--tw-ring-offset-color);
  --tw-ring-offset-color: var(--background);
  --tw-outline-style: none;
  outline-style: none;
}

.dropdown__trigger:disabled,
.dropdown__trigger[aria-disabled=true] {
  opacity: var(--disabled-opacity);
  cursor: var(--cursor-disabled);
  pointer-events: none;
}

.dropdown__trigger[data-pending=true] {
  pointer-events: none;
}

.dropdown__trigger:active,
.dropdown__trigger[data-pressed=true] {
  transform: scale(.97);
}

.dropdown__popover {
  max-width: 48svw;
  transform-origin: var(--trigger-anchor-point);
  scroll-padding-block: calc(var(--spacing) * 1);
  overscroll-behavior: contain;
  background-color: var(--overlay);
  padding: calc(var(--spacing) * 0);
  font-size: var(--text-sm);
  line-height: var(--tw-leading,var(--text-sm--line-height));
  scrollbar-width: var(--scrollbar-width);
  scrollbar-color: var(--scrollbar-color);
  scrollbar-gutter: var(--scrollbar-gutter);
  overflow-y: auto;
}

@media (min-width:48rem) {
  .dropdown__popover {
    min-width: calc(var(--spacing) * 55);
  }
}

.dropdown__popover {
  border-radius: min(32px, var(--radius-3xl));
  box-shadow: var(--shadow-overlay);
}

.dropdown__popover:focus-visible:not(:focus),
.dropdown__popover[data-focus-visible=true] {
  --tw-outline-style: none;
  outline-style: none;
}

.dropdown__popover[data-entering=true] {
  animation: enter var(--tw-animation-duration,var(--tw-duration,.15s))var(--tw-ease,ease)var(--tw-animation-delay,0s)var(--tw-animation-iteration-count,1)var(--tw-animation-direction,normal)var(--tw-animation-fill-mode,none);
  --tw-duration: .15s;
  --tw-ease: ease;
  --tw-enter-opacity: 0;
  --tw-enter-scale: .9;
  transition-duration: .15s;
  transition-timing-function: ease;
}

.dropdown__popover[data-entering=true][data-placement=top] {
  --tw-enter-translate-y: calc(1*var(--spacing));
}

.dropdown__popover[data-entering=true][data-placement=bottom] {
  --tw-enter-translate-y: calc(1*var(--spacing)*-1);
}

.dropdown__popover[data-entering=true][data-placement=left] {
  --tw-enter-translate-x: calc(1*var(--spacing));
}

.dropdown__popover[data-entering=true][data-placement=right] {
  --tw-enter-translate-x: calc(1*var(--spacing)*-1);
}

.dropdown__popover[data-exiting=true] {
  animation: exit var(--tw-animation-duration,var(--tw-duration,.15s))var(--tw-ease,ease)var(--tw-animation-delay,0s)var(--tw-animation-iteration-count,1)var(--tw-animation-direction,normal)var(--tw-animation-fill-mode,none);
  --tw-duration: .1s;
  --tw-ease: ease;
  --tw-exit-scale: .95;
  --tw-exit-opacity: 0;
  transition-duration: .1s;
  transition-timing-function: ease;
}

.dropdown__popover[data-exiting=true],
.dropdown__popover[data-entering=true] {
  transition-property: opacity,transform;
  transition-timing-function: var(--tw-ease,var(--default-transition-timing-function));
  transition-duration: var(--tw-duration,var(--default-transition-duration));
  will-change: opacity,transform;
}

.dropdown__popover [data-slot=popover-overlay-arrow] {
  fill: var(--overlay);
}

.dropdown__popover[data-placement=bottom] [data-slot=popover-overlay-arrow] {
  rotate: 180deg;
}

.dropdown__popover[data-placement=left] [data-slot=popover-overlay-arrow] {
  rotate: -90deg;
}

.dropdown__popover[data-placement=right] [data-slot=popover-overlay-arrow] {
  rotate: 90deg;
}

.dropdown__popover [data-slot=dropdown-menu] {
  padding: calc(var(--spacing) * 1.5);
  --tw-outline-style: none;
  outline-style: none;
}

.dropdown__popover [data-slot=menu-item] {
  padding-inline: calc(var(--spacing) * 2.5);
}

.dropdown__menu {
  gap: calc(var(--spacing) * .5);
  width: 100%;
  padding: calc(var(--spacing) * 1);
  flex-direction: column;
  display: flex;
  position: relative;
  overflow: clip;
}

.dropdown__menu [data-slot=separator] {
  width: 94%;
  margin-left: 3%;
}
