/*
 * Vela UI — 组件 error-message
 * Vela UI local styles.
 * 用于 Vela UI 组件样式。
 */

.error-message {
  height: auto;
  font-size: var(--text-xs);
  line-height: var(--tw-leading,var(--text-xs--line-height));
  overflow-wrap: break-word;
  color: var(--danger);
  transition: opacity .15s var(--ease-out), height .35s var(--ease-smooth);
}

.error-message:is([data-reduce-motion=true],[data-reduce-motion=true] *),
.error-message:is([data-reduce-motion=true],[data-reduce-motion=true] *):before,
.error-message:is([data-reduce-motion=true],[data-reduce-motion=true] *):after {
  transition-property: none;
}

@media (prefers-reduced-motion:reduce) {
  .error-message:not(:is([data-reduce-motion=true],[data-reduce-motion=true] *)),
  .error-message:not(:is([data-reduce-motion=true],[data-reduce-motion=true] *)):before,
  .error-message:not(:is([data-reduce-motion=true],[data-reduce-motion=true] *)):after {
    transition-property: none;
  }
}
