/*
 * Vela UI — 组件 header
 * Vela UI local styles.
 * 用于 Vela UI 组件样式。
 */

.header {
  width: 100%;
  padding-inline: calc(var(--spacing) * 2);
  padding-top: calc(var(--spacing) * 1.5);
  padding-bottom: calc(var(--spacing) * 1);
  text-align: left;
  font-size: var(--text-xs);
  line-height: var(--tw-leading,var(--text-xs--line-height));
  --tw-font-weight: var(--font-weight-medium);
  font-weight: var(--font-weight-medium);
  color: var(--muted);
}
