/*
 * Vela UI — 组件 menu-section
 * Vela UI local styles.
 * 用于 Vela UI 组件样式。
 */

.menu-section {
  align-items: flex-start;
  gap: calc(var(--spacing) * 0);
  flex-direction: column;
  display: flex;
}
