/*
 * Vela UI — 组件 meter
 * Vela UI local styles.
 * 用于 Vela UI 组件样式。
 */

.meter {
  gap: calc(var(--spacing) * 1);
  --meter-fill: var(--accent);
  grid-template-columns: 1fr auto;
  grid-template-areas: "label output""track track";
  width: 100%;
  display: grid;
}

.meter [data-slot=label] {
  width: fit-content;
  font-size: var(--text-sm);
  line-height: var(--tw-leading,var(--text-sm--line-height));
  --tw-font-weight: var(--font-weight-medium);
  font-weight: var(--font-weight-medium);
  grid-area: label;
}

.meter .meter__output {
  font-size: var(--text-sm);
  line-height: var(--tw-leading,var(--text-sm--line-height));
  --tw-font-weight: var(--font-weight-medium);
  font-weight: var(--font-weight-medium);
  --tw-numeric-spacing: tabular-nums;
  font-variant-numeric: var(--tw-ordinal,) var(--tw-slashed-zero,) var(--tw-numeric-figure,) var(--tw-numeric-spacing,) var(--tw-numeric-fraction,);
  grid-area: output;
}

.meter .meter__track {
  border-radius: calc(var(--radius) * .5);
  background-color: var(--default);
  height: calc(var(--spacing) * 2);
  grid-area: track;
  position: relative;
  overflow: hidden;
}

.meter .meter__fill {
  top: calc(var(--spacing) * 0);
  left: calc(var(--spacing) * 0);
  border-radius: calc(var(--radius) * .5);
  background-color: var(--meter-fill);
  height: 100%;
  transition: width .3s var(--ease-out);
  position: absolute;
}

.meter .meter__fill:is([data-reduce-motion=true],[data-reduce-motion=true] *),
.meter .meter__fill:is([data-reduce-motion=true],[data-reduce-motion=true] *):before,
.meter .meter__fill:is([data-reduce-motion=true],[data-reduce-motion=true] *):after {
  transition-property: none;
}

@media (prefers-reduced-motion:reduce) {
  .meter .meter__fill:not(:is([data-reduce-motion=true],[data-reduce-motion=true] *)),
  .meter .meter__fill:not(:is([data-reduce-motion=true],[data-reduce-motion=true] *)):before,
  .meter .meter__fill:not(:is([data-reduce-motion=true],[data-reduce-motion=true] *)):after {
    transition-property: none;
  }
}

.meter:disabled,
.meter[data-disabled=true],
.meter[aria-disabled=true] {
  opacity: var(--disabled-opacity);
  cursor: var(--cursor-disabled);
  pointer-events: none;
}

:is(.meter:disabled,.meter[data-disabled=true],.meter[aria-disabled=true]) [data-slot=label] {
  opacity: 1;
}

.meter--sm .meter__track {
  height: calc(var(--spacing) * 1);
  border-radius: calc(var(--radius) * .25);
}

.meter--sm .meter__fill {
  border-radius: calc(var(--radius) * .25);
}

.meter--lg .meter__track {
  height: calc(var(--spacing) * 3);
  border-radius: calc(var(--radius) * .75);
}

.meter--lg .meter__fill {
  border-radius: calc(var(--radius) * .75);
}

.meter--default {
  --meter-fill: var(--default-foreground);
}

.meter--accent {
  --meter-fill: var(--accent);
}

.meter--success {
  --meter-fill: var(--success);
}

.meter--warning {
  --meter-fill: var(--warning);
}

.meter--danger {
  --meter-fill: var(--danger);
}
