/*
 * Vela UI — 组件 radial-chart
 * Vela UI local styles.
 * 用于 Vela UI 组件样式。
 */

.radial-chart {
  width: 100%;
}

.radial-chart .recharts-tooltip-cursor {
  display: none;
}

.radial-chart .recharts-tooltip-wrapper {
  z-index: 10;
}

.radial-chart .recharts-radial-bar-background-sector {
  fill: var(--separator);
}
