/*
 * Vela UI — 组件 scroll-shadow
 * Vela UI local styles.
 * 用于 Vela UI 组件样式。
 */

.scroll-shadow {
  position: relative;
  --scroll-shadow-size: 40px;
  --scroll-shadow-scrollbar-size: 10px;
}

.scroll-shadow--vertical {
  scrollbar-width: var(--scrollbar-width);
  scrollbar-color: var(--scrollbar-color);
  scrollbar-gutter: var(--scrollbar-gutter);
  overflow-y: auto;
}

.scroll-shadow--horizontal {
  scrollbar-width: var(--scrollbar-width);
  scrollbar-color: var(--scrollbar-color);
  scrollbar-gutter: var(--scrollbar-gutter);
  overflow-x: auto;
}

/* Variant: Fade - Vertical */
.scroll-shadow--fade.scroll-shadow--vertical[data-top-scroll=true],
.scroll-shadow--fade.scroll-shadow--vertical[data-bottom-scroll=true],
.scroll-shadow--fade.scroll-shadow--vertical[data-top-bottom-scroll=true] {
  -webkit-mask-image: linear-gradient(var(--scroll-linear-gradient)), linear-gradient(#000, #000);
  mask-image: linear-gradient(var(--scroll-linear-gradient)), linear-gradient(#000, #000);
  -webkit-mask-position: left top, right top;
  mask-position: left top, right top;
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size:
    calc(100% - var(--scroll-shadow-scrollbar-size)) 100%,
    var(--scroll-shadow-scrollbar-size) 100%;
  mask-size:
    calc(100% - var(--scroll-shadow-scrollbar-size)) 100%,
    var(--scroll-shadow-scrollbar-size) 100%;
}

.scroll-shadow--fade.scroll-shadow--vertical[data-top-scroll=true] {
  --scroll-linear-gradient: 0deg, #000 calc(100% - var(--scroll-shadow-size)), transparent;
}

.scroll-shadow--fade.scroll-shadow--vertical[data-bottom-scroll=true] {
  --scroll-linear-gradient: 180deg, #000 calc(100% - var(--scroll-shadow-size)), transparent;
}

.scroll-shadow--fade.scroll-shadow--vertical[data-top-bottom-scroll=true] {
  --scroll-linear-gradient: #000, #000, transparent 0, #000 var(--scroll-shadow-size), #000 calc(100% - var(--scroll-shadow-size)), transparent;
}

/* Variant: Fade - Horizontal */
.scroll-shadow--fade.scroll-shadow--horizontal[data-left-scroll=true],
.scroll-shadow--fade.scroll-shadow--horizontal[data-right-scroll=true],
.scroll-shadow--fade.scroll-shadow--horizontal[data-left-right-scroll=true] {
  -webkit-mask-image: linear-gradient(var(--scroll-linear-gradient)), linear-gradient(#000, #000);
  mask-image: linear-gradient(var(--scroll-linear-gradient)), linear-gradient(#000, #000);
  -webkit-mask-position: left top, left bottom;
  mask-position: left top, left bottom;
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size:
    100% calc(100% - var(--scroll-shadow-scrollbar-size)),
    100% var(--scroll-shadow-scrollbar-size);
  mask-size:
    100% calc(100% - var(--scroll-shadow-scrollbar-size)),
    100% var(--scroll-shadow-scrollbar-size);
}

.scroll-shadow--fade.scroll-shadow--horizontal[data-left-scroll=true] {
  --scroll-linear-gradient: 270deg, #000 calc(100% - var(--scroll-shadow-size)), transparent;
}

.scroll-shadow--fade.scroll-shadow--horizontal[data-right-scroll=true] {
  --scroll-linear-gradient: 90deg, #000 calc(100% - var(--scroll-shadow-size)), transparent;
}

.scroll-shadow--fade.scroll-shadow--horizontal[data-left-right-scroll=true] {
  --scroll-linear-gradient: to right, #000, #000, transparent 0, #000 var(--scroll-shadow-size), #000 calc(100% - var(--scroll-shadow-size)), transparent;
}

.scroll-shadow--hide-scrollbar {
  scrollbar-width: none;
  scrollbar-color: auto;
  scrollbar-gutter: auto;
  --scroll-shadow-scrollbar-size: 0px;
}
