/*
 * Vela UI — 组件 surface
 * Vela UI local styles.
 * 用于 Vela UI 组件样式。
 */

.surface {
  color: var(--foreground);
  position: relative;
}

.surface--transparent {
  background-color: #0000;
}

.surface--default {
  background-color: var(--surface);
  color: var(--surface-foreground);
}

.surface--secondary {
  background-color: var(--surface-secondary);
  color: var(--surface-secondary-foreground);
}

.surface--tertiary {
  background-color: var(--surface-tertiary);
  color: var(--surface-tertiary-foreground);
}
