/*
 * Vela UI — 组件 switch-group
 * Vela UI local styles.
 * 用于 Vela UI 组件样式。
 */

.switch-group {
  gap: calc(var(--spacing) * 6);
  flex-direction: column;
  display: flex;
}

.switch-group__items {
  gap: calc(var(--spacing) * 4);
  display: flex;
}

.switch-group--horizontal .switch-group__items {
  flex-direction: row;
}

.switch-group--vertical .switch-group__items {
  flex-direction: column;
}
