/*
 * HeroUI Pro — 组件 table-root
 * 来源: https://heroui.pro/docs（CSS bundle 提取，2026-06-12）
 * 仅作设计参考，非项目代码。
 */

.table-root {
  grid-template-columns: minmax(0,1fr);
  width: 100%;
  display: grid;
  position: relative;
  overflow: clip;
}

.table-root--primary {
  background-color: var(--surface-secondary);
  padding-inline: calc(var(--spacing) * 1);
  padding-bottom: calc(var(--spacing) * 1);
  border-radius: min(32px, calc(var(--radius) * 2.5));
}

.table-root--secondary .table__header {
  border-bottom-style: var(--tw-border-style);
  background-color: #0000;
  border-bottom-width: 0;
}

.table-root--secondary .table__column {
  background-color: var(--surface-secondary);
}

.table-root--secondary .table__column:first-child {
  border-start-start-radius: min(32px, var(--radius-2xl));
  border-end-start-radius: min(32px, var(--radius-2xl));
}

.table-root--secondary .table__column:last-child {
  border-start-end-radius: min(32px, var(--radius-2xl));
  border-end-end-radius: min(32px, var(--radius-2xl));
}

.table-root--secondary .table__body {
  --tw-shadow: 0 0 #0000;
  box-shadow: var(--tw-inset-shadow), var(--tw-inset-ring-shadow), var(--tw-ring-offset-shadow), var(--tw-ring-shadow), var(--tw-shadow);
}

.table-root--secondary .table__body tr:first-child td:first-child,
.table-root--secondary .table__body tr:first-child td:last-child,
.table-root--secondary .table__body tr:last-child td:first-child,
.table-root--secondary .table__body tr:last-child td:last-child {
  border-radius: 0;
}

.table-root--secondary .table__body:not(tbody) {
  border-radius: 0;
  overflow: visible;
}

.table-root--secondary .table__row .table__cell {
  border-bottom-style: var(--tw-border-style);
  border-bottom-width: 1px;
  border-color: var(--separator-tertiary);
}

@supports (color:color-mix(in lab, red, red)) {
  .table-root--secondary .table__row .table__cell {
    border-color: color-mix(in oklab, var(--separator-tertiary) 50%, transparent);
  }
}

.table-root--secondary .table__row .table__cell {
  background-color: #0000;
}

@media (hover:hover) {
  .table-root--secondary .table__row:hover .table__cell,
  .table-root--secondary .table__row[data-hovered=true] .table__cell {
    background-color: var(--default);
  }
}

@media (hover:hover) {
  @supports (color:color-mix(in lab, red, red)) {
    .table-root--secondary .table__row:hover .table__cell,
    .table-root--secondary .table__row[data-hovered=true] .table__cell {
      background-color: color-mix(in oklab, var(--default) 50%, transparent);
    }
  }
}

.table-root--primary .table__content {
  overflow: clip;
}

.table-root--secondary [data-pinned].table__cell {
  background-color: var(--background);
}

.table-root--secondary .table__column[data-pinned] {
  background-color: var(--surface-secondary);
}
