/*
 * Vela UI — 组件 tag-group
 * Vela UI local styles.
 * 用于 Vela UI 组件样式。
 */

.tag-group {
  gap: calc(var(--spacing) * 1);
  flex-direction: column;
  display: flex;
  position: relative;
}

.tag-group__list {
  gap: calc(var(--spacing) * 1.5);
  flex-wrap: wrap;
  display: flex;
  position: relative;
}

.tag-group [slot=description],
.tag-group [data-slot=description],
.tag-group [slot=errorMessage],
.tag-group [data-slot=error-message] {
  padding: calc(var(--spacing) * 1);
}
