/*
 * Vela UI — 组件 time-field
 * Vela UI local styles.
 * 用于 Vela UI 组件样式。
 */

.time-field {
  gap: calc(var(--spacing) * 1);
  flex-direction: column;
  display: flex;
}

:is(.time-field[data-invalid=true],.time-field[aria-invalid=true]) [data-slot=description] {
  display: none;
}

.time-field [data-slot=label] {
  width: fit-content;
}

.time-field--full-width {
  width: 100%;
}
