/*
 * Vela UI — 组件 tooltip
 * Vela UI local styles.
 * 用于 Vela UI 组件样式。
 */

.tooltip {
  max-width: var(--container-xs);
  transform-origin: var(--trigger-anchor-point);
  background-color: var(--overlay);
  padding: calc(var(--spacing) * 2);
  font-size: var(--text-xs);
  line-height: var(--tw-leading,var(--text-xs--line-height));
  word-break: break-all;
  border-radius: min(32px, var(--radius-xl));
  box-shadow: var(--shadow-overlay);
}

.tooltip[data-entering=true] {
  animation: enter var(--tw-animation-duration,var(--tw-duration,.15s))var(--tw-ease,ease)var(--tw-animation-delay,0s)var(--tw-animation-iteration-count,1)var(--tw-animation-direction,normal)var(--tw-animation-fill-mode,none);
  --tw-duration: .15s;
  --tw-ease: ease;
  --tw-enter-opacity: 0;
  --tw-enter-scale: .9;
  transition-duration: .15s;
  transition-timing-function: ease;
}

.tooltip[data-entering=true][data-placement=top] {
  --tw-enter-translate-y: calc(1*var(--spacing));
}

.tooltip[data-entering=true][data-placement=bottom] {
  --tw-enter-translate-y: calc(1*var(--spacing)*-1);
}

.tooltip[data-entering=true][data-placement=left] {
  --tw-enter-translate-x: calc(1*var(--spacing));
}

.tooltip[data-entering=true][data-placement=right] {
  --tw-enter-translate-x: calc(1*var(--spacing)*-1);
}

.tooltip[data-exiting=true] {
  animation: exit var(--tw-animation-duration,var(--tw-duration,.15s))var(--tw-ease,ease)var(--tw-animation-delay,0s)var(--tw-animation-iteration-count,1)var(--tw-animation-direction,normal)var(--tw-animation-fill-mode,none);
  --tw-duration: .1s;
  --tw-ease: ease;
  --tw-exit-scale: .95;
  --tw-exit-opacity: 0;
  transition-duration: .1s;
  transition-timing-function: ease;
}

.tooltip[data-exiting=true],
.tooltip[data-entering=true] {
  transition-property: opacity,transform;
  transition-timing-function: var(--tw-ease,var(--default-transition-timing-function));
  transition-duration: var(--tw-duration,var(--default-transition-duration));
  will-change: opacity,transform;
}

.tooltip [data-slot=overlay-arrow] {
  stroke: var(--border);
}

@supports (color:color-mix(in lab, red, red)) {
  .tooltip [data-slot=overlay-arrow] {
    stroke: color-mix(in oklab, var(--border) 40%, transparent);
  }
}

.tooltip [data-slot=overlay-arrow] {
  fill: var(--overlay);
}

.tooltip[data-placement=bottom] [data-slot=overlay-arrow] {
  rotate: 180deg;
}

.tooltip[data-placement=left] [data-slot=overlay-arrow] {
  rotate: -90deg;
}

.tooltip[data-placement=right] [data-slot=overlay-arrow] {
  rotate: 90deg;
}

.tooltip__trigger {
  transition: color .15s var(--ease-smooth), background-color .15s var(--ease-smooth), box-shadow .15s var(--ease-out);
  display: inline-block;
}

.tooltip__trigger:is([data-reduce-motion=true],[data-reduce-motion=true] *),
.tooltip__trigger:is([data-reduce-motion=true],[data-reduce-motion=true] *):before,
.tooltip__trigger:is([data-reduce-motion=true],[data-reduce-motion=true] *):after {
  transition-property: none;
}

@media (prefers-reduced-motion:reduce) {
  .tooltip__trigger:not(:is([data-reduce-motion=true],[data-reduce-motion=true] *)),
  .tooltip__trigger:not(:is([data-reduce-motion=true],[data-reduce-motion=true] *)):before,
  .tooltip__trigger:not(:is([data-reduce-motion=true],[data-reduce-motion=true] *)):after {
    transition-property: none;
  }
}

.tooltip__trigger:focus-visible:not(:focus),
.tooltip__trigger[data-focus-visible=true] {
  --tw-ring-shadow: var(--tw-ring-inset,) 0 0 0 calc(2px + var(--tw-ring-offset-width)) var(--tw-ring-color,currentcolor);
  box-shadow: var(--tw-inset-shadow), var(--tw-inset-ring-shadow), var(--tw-ring-offset-shadow), var(--tw-ring-shadow), var(--tw-shadow);
  --tw-ring-color: var(--focus);
  --tw-ring-offset-width: var(--ring-offset-width);
  --tw-ring-offset-shadow: var(--tw-ring-inset,) 0 0 0 var(--tw-ring-offset-width) var(--tw-ring-offset-color);
  --tw-ring-offset-color: var(--background);
  --tw-outline-style: none;
  outline-style: none;
}
